<%- include('./header'); %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" >                
                        Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mqtt">MQTT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="container-fluid tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <br>
        <div class="row justify-content-between" style="min-height: 42px;">
            <div class="col-3">
                <h3>REST API</h3>
            </div>         
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <p>
                    <b>Base URL</b>
                </br>
                    http://localhost/api
                </p>
                <p>
                    The MagicLime API is organized around REST. Our API has predictable resource-oriented 
                    URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses 
                    standard HTTP response codes, authentication, and verbs.
                </p>
                <p>
                    The following REST endpoints are available:
                </p>    
                
                <table class="table">
                    <thead>
                        <tr><th>Resource</th><th>Endpoint</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Sensors</td><td>/api/sensors</td><td>All sensors connected to the receiver</td></tr>
                        <tr><td>Sensor Details</td><td>/api/sensors/{uid}</td><td>The details for an individual sensor</td></tr>
                        <tr><td>Logs</td><td>/api/sensors/{uid}/logs</td><td>The last ten events for an individual sensor</td></tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="documentation">
        <section>
            <p>To receive an array of all sensors, make a GET request to /api/sensors.</p>
            <p>The fetched data will resemble the below:</p>
            <p style="font-family:monospace;">
                [{"uid":"NKVSG8","name":"Stairwell","type":"Motion","last_seen":"2022-09-06 12:00:30","status":"active"},{"uid":"WBRS7R","name":"Front Door","type":"Button","last_seen":"2022-09-06 12:20:17","status":"active"}]
              </p>
        </section>
        <section>
            <p>To receive details on an individual sensor, make a GET request to /api/sensors/{uid of sensor}.</p>
            <p>The fetched data will resemble the below:</p>
            <p style="font-family:monospace;">
                {"uid":"NKVSG8","name":"Stairwell","type":"Motion","last_seen":"2022-09-06 12:00:30","status":"active"}
            </p>
        </section>
        <section>
            <p>To receive a log of the last ten events of an individual sensor, make a GET request to /api/sensors/{uid of sensor}/logs.</p>
            <p>The fetched data will resemble the below:</p>

            <p style="font-family:monospace;">
                [{"date_created":"2022-09-06 12:00:30","rss":86,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 12:00:25","rss":82,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:54:07","rss":86,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:51:49","rss":81,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:51:44","rss":93,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:51:40","rss":87,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:41:50","rss":88,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:41:34","rss":89,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:41:17","rss":89,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"},{"date_created":"2022-09-06 11:40:24","rss":89,"bat":2.9,"data":"MOTION","name":"Stairwell","type":"Motion"}]
              </p>
        </section>
    </div>
</div>

</body>
</html>