<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <link rel="shortcut icon" href="#">
                <title>MagicLime Gateway</title>
            
                <!-- stylesheets -->
                <link rel="stylesheet" href="/css/bootstrap.min.css" >
                <link rel="stylesheet" href="/css/font-awesome.all.css">
                <link rel="stylesheet" href="/css/style.css">
            
                <!-- scripts: -->
                <!-- order must be: jquery -> bootstrap -->
                <script src="/js/jquery.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/socket.io.js"></script>
                <script src="/js/gui.js"></script>
            </head>
<body>
<nav class="navbar navbar-light sticky-top p-0 shadow" style="background-color: #3dad5b;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="background-color: #fff;" href="/"
       target="_blank">
        <img src="/img/magiclime.png" width="120" height="30" alt=""></a>
</nav>