<%- include('./header'); %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" >                
                        Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/mqtt">MQTT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="container-fluid tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <br>
        <div class="row justify-content-between" style="min-height: 42px;">
            <div class="col-3">
                <h3>MQTT</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <p>
                  <A href="https://mqtt.org/" target="_blank">MQTT</A> is a lightweight, publish-subscribe machine to 
                  machine network protocol. It is the most commonly used messaging protocol forthe  Internet of Things (IOT). 
                  
                </p>
                <p>
                  The following MQTT endpoints are available:
                </p>  
                <table class="table">
                    <thead>
                        <tr><th>Resource</th><th>Endpoint</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Sensors</td><td>magiclime/sensors</td><td>List all sensors</td></tr>
                        <tr>&nbsp<td></td><td>magiclime/sensors/{uid}</td><td>Details on a sensor</td></tr>
                        <tr><td>Logs</td><td>magiclime/sensors/{uid}/logs</td><td>Logs for a sensor</td></tr>
                </tbody>
                </table>
                <p>
                  If you have the mosquitto client installed for your OS from <a href="https://mosquitto.org/download/" target="_blank">https://mosquitto.org/download/</a>, 
                  connect to the magiclime broker using the following command.
                </p>
                <p style="font-family:monospace;">
                  $ mosquitto_sub -h localhost -t "magiclime/sensors"
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>