<%- include('./header'); %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/" >                
                        Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mqtt">MQTT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/settings">Settings</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="container-fluid tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <br>
        <div class="row justify-content-center" style="min-height: 42px;">
            <div class="col-3">
                <h3 class="text-center" >Settings</h3>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="card shadow-sm rounded" action="">
    <div
        name="externalMqtt"
        condition="undefined"
        class="input-group"
        >
        <label class="text-large mb-0 ml-4">
            External MQTT
        </label>
        <input
        name="externalMqtt"
        data-dependents="externalMqttIp"
        type="checkbox"
        value="<%= settings.externalMqtt %>"
        >
    </div>
    <div
        name="externalMqttIp"
        condition="externalMqttIp"
        class="input-group switch 
        <% if (settings.externalMqtt==="true"){ %>
            on
        <% } %>
        "
    >
        <label class="text-large mb-0 ml-4">
            External MQTT IP
        </label>
        <div></div>
        <input
        name="externalMqttIp"
        data-dependents=""
        type="text"
        value="<%= settings.externalMqttIp %>"
        >
        <div class="input-btns-cont">
            <button data-setting="externalMqttIp" class="btn btn-sm btn-primary switch on edit-btn">
                <i class="fa fa-edit"></i>
            </button>
            <button data-setting="externalMqttIp" class="btn btn-sm btn-danger switch reset-btn">
                <i class="fa fa-trash"></i>
            </button>
            <button data-setting="externalMqttIp" class="btn btn-sm btn-success switch save-btn">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/js/settings.js"></script>
</html>