body {
    font-size: .875rem;
}
  
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
  
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-striped{
  font-family: monospace;
  font-size: 14px;
}

.btn:focus {
  box-shadow: none;
}

.table-fixed tbody {
    #height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

/* for getting outside border around table */
.table-bordered td:first-child, .table-bordered th:first-child {
  border-right: none;
}

.table-bordered td:last-child, .table-bordered th:last-child {
  border-left: none;
}

.table-bordered td:not(:first-child):not(:last-child),
.table-bordered th:not(:first-child):not(:last-child) {
  border-right: none;
  border-left: none;
}


#sensor_table td{
  cursor: pointer;
}

/* for the highlight effect on new rows */
@-webkit-keyframes invalid {
  from { background-color: #3dad5b; }
  to { background-color: inherit; }
}
@-moz-keyframes invalid {
  from { background-color: #3dad5b; }
  to { background-color: inherit; }
}
@-o-keyframes invalid {
  from { background-color: #3dad5b; }
  to { background-color: inherit; }
}
@keyframes invalid {
  from { background-color: #3dad5b; }
  to { background-color: inherit; }
}
.flash {
  -webkit-animation: invalid 1s 1; /* Safari 4+ */
  -moz-animation:    invalid 1s 1; /* Fx 5+ */
  -o-animation:      invalid 1s 1; /* Opera 12+ */
  animation:         invalid 1s 1; /* IE 10+ */
}

/* so outlines don't show around the link */
#sensorNameText:focus {
  outline: 0;
}

/* for 'active' status circles on dashboard table */
.fa-circle {
    margin-left: 15px;
}

.fa-circle.active {
    color: #00ff19;
}

.fa-circle.alive {
    color: #c2ff99;
}

.fa-circle.dead {
    color: tomato;
}

/* for "receiver status" indicator on dashboard */
#receiver-box {
    width: 120px;
    min-width: 120px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

/* for name-change form; some slight sizing adjustments */
#nameFormGroup {
    height: 60px;
    margin-bottom: 0;
}